.prayerBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 3px solid #f0ad4e;
  border-right: 0;
  border-radius: 30px 0px 0px 30px;
  margin-top: 50px;
  padding: 20px;
  gap: 5px;
  align-self: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 20px;
}

.fajr,
.dhuhr,
.asr,
.maghrib,
.isha {
  font-size: 1.5rem;
}

.time {
  color: gold;
  font-size: 1.7rem;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: black; */
}


@media screen and (min-width: 1024px) {
  .prayerBox {
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
  }
}
@media screen and (max-width: 960px) {
  .prayerBox {
    border: 3px solid #f0ad4e;
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 30px;
    align-self: center;
    text-align: center;
    margin-top: 20px;
  }
}
