.donate {
  min-height: auto;
}

.donateContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: url(../../images/Background.jpg) center center/cover no-repeat fixed;
  width: 100%;
  object-fit: contain;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.2);
  margin-top: -80px;
}


.donationBtn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ED760;
  height: 48px;

}

.donationBtn:hover {
  transform: scale(1.04);
  background-color: #21e065;
 
}


@media screen and (max-width: 960px) {
  .donateContainer {
    height: 100%;
  }
}

.paypalBtns {
  display: flex;
  flex-direction: column;
  width: clamp(310px, 80%, 350px);
  justify-content: center;
  align-self: center;
  border: black solid 5px;
  border-radius: 15px;
  padding: 10px;
  background: lightgray;
}

.inputPayment {
 border: none;
 border-radius: 15px;
 padding: 5px;
 background-color: #e8e8e8;
 font-size: medium;
 font-weight: bold;
 max-width: 150px;
 text-align: center;
 margin-bottom: 10px;
}

.inputPayment:focus {
 outline-color: white;
 place-content: "Enter your message!";
}


.currencySymbol {
  font-size: 1.5rem;
}

.flexRow {
  display: flex;
  justify-content: center;
}

.presetAmt {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.presetAmt:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.presetAmt:active {
  transform: translateY(-1px);
}

.presetAmounts {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.buttonRow {
  display: flex;
  justify-content: space-around; 
}

.heroTitle {
  margin-top: 10vh;
  color: white;
  font-size: 8vw;
}

.donateContainer > h2 {
  color: white;
}

.infoBox {
  display: flex;
  flex-direction: column;
  width: clamp(320px, 90%, 700px);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  gap: 20px;
  background: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 20px;
}



.hadith {
  font-size: 10vm;
  border: solid gold 2px;
  color: white;
  border-radius: 10px;
  padding: 15px;
  background-color: black;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.paypalWrapper {
  display: flex;
  justify-content: center;
}

.donate {
  display: flex;
}

video {
  border-radius: 20px;
}
